<h1>Roadmap</h1>

<p>Initially PigCI started as a small script which was run once the test suite was completed to report the memory usage. After showing a few other developers, it seemed like a useful tool to integrate with CI.</p>

<p>Currently we're experimenting with how the Ruby on Rails market uses the product. If it seems like a viable product we intend to expand to other frameworks &amp; languages.</p>
