<div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
  <div class="card w-100 mb-4 border-dashed">
    <div class="card-body text-center d-flex">
      <div class="align-self-center w-100">

        <% if current_user.installs.empty? %>
            <h2>Not seeing your Repository?</h2>
            <p class="card-text">You need to install our GitHub App onto your GitHub Account.</p>
            <%= link_to 'Install GitHub App', Rails.application.credentials.dig(Rails.env.to_sym, :github, :install_url), class: 'btn btn-infer-by-http-verb' %>
        <% else %>
            <h2>Not seeing a repository?</h2>
            <p class="card-text">You may need to adjust our Repository access on GitHub before you can start using it with PigCI.</p>
            <%= link_to 'Update GitHub App', Rails.application.credentials.dig(Rails.env.to_sym, :github, :install_url), class: 'btn btn-infer-by-http-verb' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
