<div class="border-dashed p-4">
  <section class="text-center mb-4">
    <h2>Setup PigCI</h2>
  </section>

  <%= render 'projects/setup/setup_instructions' %>

  <section>
    <p>Once you've ran your test suite, you'll see the metrics start appearing on your project page &amp; on GitHub.</p>
  </section>
</div>
