<article>
  <h1>Cookie Policy</h1>

  <p>Last updated: 28th July, 2019</p>

  <p>Cookies are small files placed on your hard drive that assist us in providing our services. We use cookies to allow you to enter your password less frequently during a session.</p>

  <p>PigCI aims to use the minimum amount of cookies to provide a functional service, and will not require any third party cookies be enabled to access the service.</p>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Cookie</th>
          <th scope="col">Provider</th>
          <th scope="col">Purpose</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>_pig_ci_app_session</td>
          <td>PigCI.com</td>
          <td>Allow user to remain logged in during a session</td>
        </tr>
        <tr>
          <td>remember_user_token</td>
          <td>PigCI.com</td>
          <td>Allows user to remain logged in over multiple browser sessions</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
