<article>
  <h1>PigCIs Subprocessors</h1>

  <p>Last updated: 28th July, 2019</p>

  <p>This page identifies Subprocessors used by PigCI to deliver its service, detailing what service is provided and if applicable the location of the Subprocessor.</p>

  <p>This page will periodically change as we add or remove Subprocessors, changes that affect the security and/or privacy of the service PigCI provides will be communicated to customers.</p>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Subprocessor</th>
          <th scope="col">Service Provided</th>
          <th scope="col">Location of Subprocessor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Amazon Web Services</td>
          <td>Cloud services provider, file storage</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Heroku</td>
          <td>Cloud services provider</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Sentry</td>
          <td>Error reporting software</td>
          <td>United States</td>
        </tr>
        <tr>
          <td>Google</td>
          <td>Cloud services provider</td>
          <td>United States</td>
        </tr>
        <tr>
          <td>SolarWinds Worldwide</td>
          <td>Application logging services</td>
          <td>United States</td>
        </tr>
        <tr>
          <td>SendGrid</td>
          <td>Transactional email</td>
          <td>United States</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
