// 
// Horizontal Rules
// 

// Wiggle
.pigci-hr-wiggle {
  div {
    background-image: url('data:image/svg+xml;utf8,<svg width="32" height="10" xmlns="http://www.w3.org/2000/svg"><path d="M1 1c7.5 0 7.5 8 15 8s7.5-8 15-8" stroke="#{hex_to_rgb($primary)}" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    height: 10px;
  }
  .left {
    width: 31px;
    background-position: left;
  }
  .middle {
    width: 30px;
    background-position: center;
  }
  .right {
    width: 31px;
    background-position: right;
  }
}

// Tail
.pigci-hr-tail {
  .left {
    background-image: url('data:image/svg+xml;utf8,<svg width="22" height="15" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 10.071c0-4.733 4.476-8.57 10-8.57 3.47 0 6.913 1.503 9 3.805m0 8.194c-1.006.011-2.5-1.05-2.5-3.429 0-1.764 1.26-3.403 2.5-4.766" stroke="#{hex_to_rgb($primary)}" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 20.5px;
    height: 15px;
    background-position: left;
  }

  .middle {
    background-image: url('data:image/svg+xml;utf8,<svg width="21" height="15" xmlns="http://www.w3.org/2000/svg"><path d="M19.5 5.307C18.26 6.669 17 8.308 17 10.07c0 2.356 1.505 3.418 2.5 3.429m-.001-8.196C17.41 3.01 13.964 1.5 10.5 1.5c-3.465 0-6.912 1.51-9 3.805M1.497 13.5C2.498 13.502 4 12.44 4 10.071c0-1.764-1.26-3.404-2.501-4.767" stroke="#{hex_to_rgb($primary)}" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 18px;
    height: 15px;
    background-position: center;
  }

  .right {
    background-image: url('data:image/svg+xml;utf8,<svg width="22" height="15" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 10.071c0-4.733 4.476-8.57 10-8.57 3.47 0 6.913 1.503 9 3.805m0 8.194c-1.006.011-2.5-1.05-2.5-3.429 0-1.764 1.26-3.403 2.5-4.766" stroke="#{hex_to_rgb($primary)}" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 20.5px;
    height: 15px;
    background-position: left;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

// 
// Illustrations
//

.pigci-illustration-tail,
.pigci-illustration-bacon,
.pigci-illustration-tinypig {
  background-position: center;
  background-repeat: no-repeat;
}

.pigci-illustration-bacon {
  background-image: url('data:image/svg+xml;utf8,<svg width="138" height="43" xmlns="http://www.w3.org/2000/svg"><g stroke="#{hex_to_rgb($primary)}" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18c7.5 0 7.5 8 15 8s7.5-8 15-8M39 18c7.5 0 7.5 8 15 8s7.5-8 15-8M69 18c7.5 0 7.5 8 15 8s7.5-8 15-8M99 18c7.5 0 7.5 8 15 8s7.5-8 15-8M9 26c7.5 0 7.5 8 15 8s7.5-8 15-8M39 26c7.5 0 7.5 8 15 8s7.5-8 15-8M69 26c7.5 0 7.5 8 15 8s7.5-8 15-8M99 26c7.5 0 7.5 8 15 8s7.5-8 15-8"/><g><path d="M9 34c7.5 0 7.5 8 15 8s7.5-8 15-8M39 34c7.5 0 7.5 8 15 8s7.5-8 15-8M69 34c7.5 0 7.5 8 15 8s7.5-8 15-8M99 34c7.5 0 7.5 8 15 8s7.5-8 15-8"/></g><path d="M9 18a8 8 0 1 0 0 16M129 18a8 8 0 1 1 0 16"/><g><path d="M24 1c0 3.75-4 3.75-4 7.5s4 3.75 4 7.5M38 4.75c0 1.875-2 1.875-2 3.75s2 1.875 2 3.75M68 4.75c0 1.875-2 1.875-2 3.75s2 1.875 2 3.75M98 4.75c0 1.875-2 1.875-2 3.75s2 1.875 2 3.75M54 1c0 3.75-4 3.75-4 7.5s4 3.75 4 7.5M84 1c0 3.75-4 3.75-4 7.5s4 3.75 4 7.5M114 1c0 3.75-4 3.75-4 7.5s4 3.75 4 7.5"/></g></g></svg>');
  width: 138px;
  height: 43px;
}

.pigci-illustration-tail {
  background-image: url('data:image/svg+xml;utf8,<svg width="15" height="113" xmlns="http://www.w3.org/2000/svg"><g stroke="#{hex_to_rgb($primary)}" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M9.693 38.5C8.331 37.26 6.692 36 4.93 36 2.573 36 1.51 37.505 1.5 38.5m8.196-.001C11.99 36.41 13.5 32.964 13.5 29.5c0-3.465-1.51-6.912-3.805-9M1.5 20.497C1.498 21.498 2.56 23 4.929 23c1.764 0 3.404-1.26 4.767-2.501"/><path d="M9.693 56.5C8.331 55.26 6.692 54 4.93 54 2.573 54 1.51 55.505 1.5 56.5m8.196-.001C11.99 54.41 13.5 50.964 13.5 47.5c0-3.465-1.51-6.912-3.805-9M1.5 38.497C1.498 39.498 2.56 41 4.929 41c1.764 0 3.404-1.26 4.767-2.501"/><path d="M9.693 74.5C8.331 73.26 6.692 72 4.93 72 2.573 72 1.51 73.505 1.5 74.5m8.196-.001C11.99 72.41 13.5 68.964 13.5 65.5c0-3.465-1.51-6.912-3.805-9M1.5 56.497C1.498 57.498 2.56 59 4.929 59c1.764 0 3.404-1.26 4.767-2.501"/><path d="M9.693 92.5C8.331 91.26 6.692 90 4.93 90 2.573 90 1.51 91.505 1.5 92.5m8.196-.001C11.99 90.41 13.5 86.964 13.5 83.5c0-3.465-1.51-6.912-3.805-9M1.5 74.497C1.498 75.498 2.56 77 4.929 77c1.764 0 3.404-1.26 4.767-2.501M4.929 1.5c4.733 0 8.57 4.476 8.57 10 0 3.47-1.503 6.913-3.805 9m-8.194 0C1.489 19.493 2.55 18 4.929 18c1.764 0 3.403 1.26 4.766 2.5M4.929 111.5c4.733 0 8.57-4.477 8.57-10 0-3.471-1.503-6.913-3.805-9m-8.194 0C1.489 93.505 2.55 95 4.929 95c1.764 0 3.403-1.26 4.766-2.5"/></g></svg>');
  width: 15px;
  height: 113px;
}

.pigci-section-hero {
  position: relative;

  h1, .h1, h4, .h4 {padding: 0 20px;}

  .pigci-illustration-bacon {
    position: absolute;
    bottom: 0;
    left: 15px; // Bootstrap padding
  }
  .pigci-illustration-tail {
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
  }
}
.pigci-section-footer-cta {
  position: relative;

  h2, .h2 {padding: 0 20px;}

  .pigci-illustration-bacon {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
  .pigci-illustration-tail {
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
  }
}

.pigci-illustration-tinypig {
  background-image: url('data:image/svg+xml;utf8,<svg width="43" height="32" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.978 1.274a1.886 1.886 0 0 0-2.732 2.14l1.172 4.362a4.165 4.165 0 0 0 4.023 3.085A2.96 2.96 0 0 0 9.4 7.9V6.744a4.2 4.2 0 0 0-2.173-3.679l-3.25-1.792zM30.025 1.274a1.886 1.886 0 0 1 2.732 2.14l-1.172 4.362a4.165 4.165 0 0 1-4.023 3.085 2.96 2.96 0 0 1-2.96-2.96V6.744a4.2 4.2 0 0 1 2.173-3.679l3.25-1.792z" stroke="#{hex_to_rgb($dark)}" stroke-width="2" fill="#{hex_to_rgb($secondary)}"/><rect stroke="#{hex_to_rgb($dark)}" stroke-width="2" fill="#{hex_to_rgb($secondary)}" x="4.185" y="4.2" width="26.002" height="26.136" rx="13.001"/><path d="M16.599 14.482h1.95c1.614 0 2.578 1.343 2.151 3-.427 1.657-2.082 3-3.697 3h-1.95c-1.614 0-2.577-1.343-2.15-3 .426-1.657 2.081-3 3.696-3z" stroke="#{hex_to_rgb($dark)}" stroke-width="2"/><path d="M10.15 10.158l.004-.002a1.197 1.197 0 0 1 1.536.717l.279.769a1.2 1.2 0 0 1-.716 1.535l-.005.002a1.197 1.197 0 0 1-1.536-.717l-.279-.768a1.2 1.2 0 0 1 .716-1.536zM23.85 10.156l.004.002a1.2 1.2 0 0 1 .716 1.536l-.279.768a1.197 1.197 0 0 1-1.536.717l-.005-.002a1.2 1.2 0 0 1-.716-1.535l.279-.769a1.197 1.197 0 0 1 1.536-.717z" fill="#{hex_to_rgb($dark)}"/><path d="M11.001 22.948c-.6 2.814 4 3.417 6.033 1.407" stroke="#{hex_to_rgb($dark)}" stroke-width="2" stroke-linecap="round"/><g stroke="#{hex_to_rgb($dark)}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M35.794 19.233c-1.021.372-1.842 1.019-2.378 1.79-.663.954-.89 2.099-.508 3.146.38 1.047.95 2.613 2.454 2.066 1.504-.546.934-2.114.553-3.16-.382-1.049-1.29-1.781-2.412-2.085-.906-.246-1.952-.213-2.972.159"/><path d="M40.67 24.304c.662-.954.889-2.098.508-3.145-.382-1.048-1.29-1.78-2.412-2.085-.906-.245-1.952-.212-2.972.16"/></g></g></svg>');
  width: 43px;
  height: 32px;
}

//
// Logos
//

.pigci-logo-rails, 
.pigci-logo-js, 
.pigci-logo-go, 
.pigci-logo-java, 
.pigci-logo-elixir {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

// Rails
.pigci-logo-rails {
  background-image: url('data:image/svg+xml;utf8,<svg width="198" height="70" xmlns="http://www.w3.org/2000/svg"><g fill="#{hex_to_rgb($primary)}" fill-rule="evenodd"><path d="M172.3 60.75v9.05h16.35c3.35 0 9.1-2.45 9.3-9.3V57c0-5.85-4.8-9.3-9.3-9.3h-8.15v-4.2h16.15v-9.1h-15.5c-4 0-9.35 3.3-9.35 9.45V47c0 6.15 5.3 9.3 9.35 9.3 11.25.05-2.7 0 7.7 0v4.4"/><path d="M84.7 58.55s8.75-.75 8.75-12.05-10.6-12.35-10.6-12.35h-19.1V69.8h9.6v-8.6l8.3 8.6h14.2L84.7 58.55zm-3.7-7.3h-7.65V43.1h7.7s2.15.8 2.15 4.05-2.2 4.1-2.2 4.1zM117.15 34.4h-9.75c-6.95 0-9.3 6.3-9.3 9.3v26.1h9.75v-6.25H117v6.25h9.45V43.7c0-7.6-6.9-9.3-9.3-9.3zM117 53.45h-9.2V44.8s0-1.95 3.05-1.95h3.35c2.7 0 2.75 1.95 2.75 1.95v8.65h.05z" fill-rule="nonzero"/><path d="M130.9 34.4h10.15v35.4H130.9zM155.3 60.65V34.4h-10.1v35.4h23.75v-9.15zM3.5 69.8H43s-7.55-34.45 17.45-48.4c5.45-2.65 22.8-12.55 51.2 8.45.9-.75 1.75-1.35 1.75-1.35S87.4 2.55 58.45 5.45C43.9 6.75 26 20 15.5 37.5 5 55 3.5 69.8 3.5 69.8z"/><path d="M3.5 69.8H43s-7.55-34.45 17.45-48.4c5.45-2.65 22.8-12.55 51.2 8.45.9-.75 1.75-1.35 1.75-1.35S87.4 2.55 58.45 5.45C43.9 6.75 26 20 15.5 37.5 5 55 3.5 69.8 3.5 69.8z"/><path d="M3.5 69.8H43s-7.55-34.45 17.45-48.4c5.45-2.65 22.8-12.55 51.2 8.45.9-.75 1.75-1.35 1.75-1.35S87.4 2.55 58.45 5.45c-14.6 1.3-32.5 14.55-43 32.05C4.95 55 3.5 69.8 3.5 69.8zM85.8 8.25L86 4.9c-.45-.25-1.7-.85-4.85-1.75l-.2 3.3C82.6 7 84.2 7.6 85.8 8.25z"/><path d="M81.05 18.85l-.2 3.15c1.65.05 3.3.25 4.95.6l.2-3.1c-1.7-.35-3.35-.55-4.95-.65zM62.55 3.25h.5l-1-3.05c-1.55 0-3.15.1-4.8.3l.95 2.95c1.45-.15 2.9-.2 4.35-.2zM64.95 21.65l1.15 3.45c1.45-.7 2.9-1.3 4.35-1.75l-1.1-3.3c-1.7.5-3.15 1.05-4.4 1.6zM42.25 8.5L40 5.05c-1.25.65-2.55 1.35-3.9 2.15l2.3 3.5c1.3-.8 2.55-1.55 3.85-2.2zM52.5 31l2.4 3.6c.85-1.25 1.85-2.4 2.95-3.55l-2.25-3.4c-1.15 1.05-2.2 2.2-3.1 3.35zM45.25 47.1l4.05 3.2c.2-1.95.55-3.9 1.05-5.85l-3.6-2.85c-.65 1.85-1.1 3.7-1.5 5.5zM23.35 23.35l-3.55-3.1c-1.3 1.25-2.55 2.5-3.7 3.75l3.85 3.3c1.05-1.35 2.2-2.7 3.4-3.95zM8.25 45.7L2.5 43.6c-.95 2.15-2 4.65-2.5 6l5.75 2.1c.65-1.7 1.7-4.15 2.5-6zM44.5 59.8c.1 2.65.35 4.8.6 6.3l6 2.15c-.45-1.95-.9-4.15-1.2-6.5l-5.4-1.95z"/></g></svg>');
  width: 100%;
  height: 70px;
}

// Javascript
.pigci-logo-js {
  background-image: url('data:image/svg+xml;utf8,<svg width="63" height="63" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#{hex_to_rgb($gray-600)}" d="M0 0h63v63H0z"/><path d="M42.32 49.219c1.269 2.072 2.92 3.595 5.84 3.595 2.453 0 4.02-1.226 4.02-2.92 0-2.03-1.61-2.749-4.31-3.93l-1.48-.635c-4.272-1.82-7.11-4.1-7.11-8.92 0-4.44 3.383-7.82 8.67-7.82 3.764 0 6.47 1.31 8.42 4.74l-4.61 2.96c-1.015-1.82-2.11-2.537-3.81-2.537-1.734 0-2.833 1.1-2.833 2.537 0 1.776 1.1 2.495 3.64 3.595l1.48.634c5.03 2.157 7.87 4.356 7.87 9.3 0 5.33-4.187 8.25-9.81 8.25-5.498 0-9.05-2.62-10.788-6.054l4.811-2.795zm-20.913.513c.93 1.65 1.776 3.045 3.81 3.045 1.945 0 3.172-.761 3.172-3.72v-20.13h5.92v20.21c0 6.13-3.594 8.92-8.84 8.92-4.74 0-7.485-2.453-8.881-5.407l4.819-2.918z" fill="#{hex_to_rgb($white)}" fill-rule="nonzero"/></g></svg>');
  width: 63px;
  height: 63px;
}

// Go
.pigci-logo-go {
  background-image: url('data:image/svg+xml;utf8,<svg width="95" height="36" xmlns="http://www.w3.org/2000/svg"><g fill="#{hex_to_rgb($gray-600)}" fill-rule="nonzero"><path d="M7.435 11.123c-.184 0-.23-.092-.138-.23l.964-1.247c.092-.138.321-.23.505-.23H25.15c.183 0 .23.138.137.276l-.78 1.2c-.092.139-.321.277-.459.277l-16.613-.046zM.505 15.37c-.184 0-.23-.092-.138-.23l.964-1.247c.092-.138.321-.23.505-.23h20.927c.184 0 .276.138.23.276l-.367 1.108c-.046.185-.23.277-.413.277L.505 15.37zm11.106 4.246c-.183 0-.23-.138-.138-.277l.643-1.153c.092-.139.275-.277.459-.277h9.179c.183 0 .275.138.275.323l-.092 1.107c0 .185-.183.324-.321.324l-10.005-.047zm47.638-9.323c-2.892.739-4.865 1.293-7.71 2.031-.689.185-.735.23-1.331-.461-.689-.785-1.194-1.293-2.157-1.754-2.892-1.431-5.691-1.016-8.307.692-3.12 2.03-4.727 5.03-4.681 8.77.046 3.692 2.57 6.738 6.195 7.245 3.121.416 5.737-.692 7.802-3.046.413-.507.78-1.061 1.24-1.707h-8.858c-.964 0-1.193-.6-.872-1.385.597-1.43 1.698-3.83 2.34-5.03.138-.278.46-.74 1.148-.74h16.705c-.092 1.247-.092 2.493-.275 3.74-.505 3.322-1.744 6.368-3.763 9.045-3.305 4.385-7.619 7.108-13.08 7.846-4.498.6-8.674-.276-12.345-3.046-3.397-2.584-5.324-6-5.829-10.246-.597-5.03.872-9.554 3.901-13.523 3.258-4.292 7.572-7.015 12.85-7.985C46.536-.046 50.667.462 54.384 3c2.432 1.615 4.176 3.83 5.324 6.508.275.415.092.646-.46.784z"/><path d="M74.44 35.815c-4.177-.092-7.986-1.292-11.198-4.061-2.708-2.354-4.406-5.354-4.957-8.908-.826-5.215.597-9.83 3.717-13.938 3.35-4.431 7.39-6.739 12.85-7.708 4.682-.83 9.088-.37 13.08 2.354 3.626 2.492 5.875 5.861 6.471 10.292.78 6.23-1.01 11.308-5.277 15.646-3.03 3.093-6.747 5.031-11.015 5.908-1.239.23-2.478.277-3.671.415zM85.362 17.17c-.046-.6-.046-1.061-.137-1.523-.826-4.57-5.003-7.154-9.363-6.138-4.268.969-7.021 3.692-8.031 8.03-.826 3.6.918 7.247 4.222 8.724 2.524 1.107 5.048.969 7.48-.277 3.626-1.893 5.6-4.847 5.83-8.816z"/></g></svg>');
  width: 95px;
  height: 36px;
}

// Java
.pigci-logo-java {
  background-image: url('data:image/svg+xml;utf8,<svg width="51" height="94" xmlns="http://www.w3.org/2000/svg"><g fill="#{hex_to_rgb($gray-600)}" fill-rule="evenodd"><path d="M48.835 74.06h-.36v-.167h.97v.168h-.358v.837h-.252v-.837zm1.934.045h-.006l-.357.793h-.163l-.354-.793h-.005v.793h-.237v-1.005h.349l.329.712.327-.712H51v1.005h-.231v-.793z" fill-rule="nonzero"/><path d="M16.728 49.765s-2.46 1.487 1.75 1.99c5.1.605 7.707.519 13.327-.587 0 0 1.478.963 3.542 1.798-12.6 5.615-28.516-.326-18.62-3.201M15.58 42.727s-2.756 1.97 1.453 2.39c5.444.542 9.743.586 17.182-.796 0 0 1.029 1.007 2.646 1.557-15.22 4.296-32.174.339-21.281-3.15M28.152 30.851c3.166 3.605-.832 6.85-.832 6.85s8.04-4.105 4.347-9.245c-3.448-4.793-6.093-7.175 8.224-15.386 0 0-22.473 5.55-11.74 17.781"/><path d="M45.206 54.848s1.832 1.542-2.019 2.735c-7.322 2.265-30.478 2.95-36.91.09-2.313-1.027 2.023-2.452 3.387-2.751 1.423-.315 2.236-.257 2.236-.257-2.572-1.85-16.622 3.633-7.137 5.202 25.867 4.284 47.152-1.928 40.443-5.019M17.86 35.7s-11.691 2.712-4.14 3.697c3.188.417 9.544.323 15.464-.162 4.839-.398 9.697-1.246 9.697-1.246s-1.706.714-2.94 1.537c-11.873 3.05-34.808 1.63-28.205-1.489C13.32 35.401 17.86 35.7 17.86 35.7M39.12 46.938c11.923-6.225 6.41-12.207 2.563-11.402-.943.198-1.363.369-1.363.369s.35-.551 1.018-.79c7.612-2.689 13.466 7.93-2.457 12.136 0 0 .185-.165.24-.313M31.604 0s6.715 6.667-6.37 16.918c-10.493 8.223-2.392 12.912-.004 18.27-6.125-5.485-10.62-10.312-7.604-14.805C22.052 13.787 34.313 10.59 31.604 0"/><path d="M19.191 64.142c11.582.734 29.368-.407 29.79-5.832 0 0-.81 2.057-9.573 3.69-9.885 1.841-22.078 1.626-29.309.446 0 0 1.48 1.213 9.092 1.696"/><path d="M17.177 85.326c-1.095.935-2.25 1.46-3.289 1.46-1.48 0-2.28-.875-2.28-2.277 0-1.516.856-2.625 4.296-2.625h1.273v3.442zm3.021 3.355V78.296c0-2.652-1.537-4.403-5.243-4.403-2.164 0-4.06.526-5.6 1.197l.445 1.838c1.213-.438 2.783-.846 4.324-.846 2.135 0 3.053.846 3.053 2.595v1.313h-1.065c-5.188 0-7.528 1.982-7.528 4.957 0 2.567 1.542 4.026 4.446 4.026 1.866 0 3.26-.758 4.562-1.868l.236 1.576h2.37z" fill-rule="nonzero"/><path d="M30.691 88.47h-3.845l-4.628-14.577h3.358l2.871 8.957.639 2.693c1.453-3.894 2.48-7.845 2.994-11.65h3.267c-.876 4.8-2.45 10.07-4.656 14.578"/><path d="M44.95 85.326c-1.096.935-2.255 1.46-3.292 1.46-1.478 0-2.28-.875-2.28-2.277 0-1.516.859-2.625 4.298-2.625h1.274v3.442zm3.02 3.355V78.296c0-2.652-1.54-4.403-5.242-4.403-2.165 0-4.06.526-5.6 1.197l.444 1.838c1.213-.438 2.786-.846 4.325-.846 2.134 0 3.053.846 3.053 2.595v1.313h-1.067c-5.188 0-7.527 1.982-7.527 4.957 0 2.567 1.541 4.026 4.443 4.026 1.868 0 3.26-.758 4.564-1.868l.238 1.576h2.37z" fill-rule="nonzero"/><path d="M5.41 91.207C4.527 92.454 3.098 93.442 1.533 94L0 92.258c1.19-.59 2.212-1.543 2.687-2.431.41-.79.58-1.808.58-4.241v-16.72h3.297v16.49c0 3.254-.27 4.569-1.153 5.85"/></g></svg>');
  width: 51px;
  height: 94px;
}

// Elixir
.pigci-logo-elixir {
  background-image: image-url('mark_elixir.png');
  width: 46px;
  height: 70px;
}

// 
// Social
// 

.pigci-social-github, 
.pigci-social-twitter {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

// Github
.pigci-social-github {
  background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><g fill="#{hex_to_rgb($dark)}" fill-rule="evenodd"><path fill="none" d="M0 0h32v32H0z"/><path d="M16 .395c-8.835 0-16 7.163-16 16 0 7.07 4.585 13.067 10.942 15.183.8.148 1.093-.348 1.093-.77 0-.382-.015-1.642-.022-2.979-4.45.968-5.39-1.888-5.39-1.888-.728-1.85-1.777-2.341-1.777-2.341-1.451-.993.11-.973.11-.973 1.606.113 2.452 1.65 2.452 1.65 1.427 2.445 3.744 1.738 4.657 1.33.143-1.035.558-1.74 1.015-2.14-3.553-.405-7.29-1.777-7.29-7.908 0-1.746.626-3.174 1.65-4.294-.167-.404-.715-2.03.154-4.235 0 0 1.344-.43 4.401 1.64A15.335 15.335 0 0 1 16 8.133c1.36.006 2.73.184 4.008.539 3.055-2.07 4.396-1.64 4.396-1.64.87 2.203.323 3.83.157 4.234 1.026 1.12 1.647 2.548 1.647 4.294 0 6.146-3.743 7.499-7.306 7.895.574.497 1.085 1.47 1.085 2.963 0 2.14-.019 3.864-.019 4.39 0 .427.289.925 1.1.769C27.42 29.457 32 23.462 32 16.395c0-8.837-7.163-16-16-16z"/></g></svg>');
  width: 32px;
  height: 32px;
}

// Twitter
.pigci-social-twitter {
  background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm-3.123-6.997c7.569 0 11.708-6.272 11.708-11.708 0-.18 0-.358-.009-.53a8.43 8.43 0 0 0 2.057-2.132 8.352 8.352 0 0 1-2.364.648 4.112 4.112 0 0 0 1.809-2.278c-.794.469-1.673.81-2.611.998a4.095 4.095 0 0 0-3.004-1.297 4.115 4.115 0 0 0-4.113 4.113c0 .324.034.64.11.939A11.673 11.673 0 0 1 7.98 9.455a4.128 4.128 0 0 0-.555 2.065c0 1.425.725 2.688 1.835 3.422a4.042 4.042 0 0 1-1.86-.512v.051a4.12 4.12 0 0 0 3.302 4.036 4.102 4.102 0 0 1-1.86.069 4.109 4.109 0 0 0 3.84 2.858 8.271 8.271 0 0 1-6.093 1.698 11.464 11.464 0 0 0 6.289 1.86z" fill="#{hex_to_rgb($dark)}" fill-rule="evenodd"/></svg>');
  width: 32px;
  height: 32px;
}

// 
// Callout
//

.pigci-icon-twitter {
  background-position: center;
  background-repeat: no-repeat;
}

// Callout
.pigci-callout {
	position: relative;
	background: $white;
  border-radius: $btn-border-radius * 2;
  padding: spacer(1);
  margin-bottom: spacer(2);
}

.pigci-callout:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: spacer(4);
	width: 0;
	height: 0;
	border: spacer(1) solid transparent;
	border-top-color: $white;
	border-bottom: 0;
	margin-left: -#{spacer(1)};
	margin-bottom: -#{spacer(1)};
}

// Twitter icon
.pigci-icon-twitter {
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="14" xmlns="http://www.w3.org/2000/svg"><g fill="#1DA1F2" fill-rule="evenodd"><path fill="none" d="M0-1h16v16H0z"/><path d="M16 2.045a6.864 6.864 0 0 1-1.645 1.696 9.317 9.317 0 0 1-.376 3.062 9.52 9.52 0 0 1-1.172 2.523 9.936 9.936 0 0 1-1.874 2.137c-.724.62-1.597 1.114-2.619 1.483a9.602 9.602 0 0 1-3.279.553A9.105 9.105 0 0 1 0 12.027c.237.027.5.04.792.04a6.42 6.42 0 0 0 4.071-1.401 3.197 3.197 0 0 1-1.908-.655 3.21 3.21 0 0 1-1.158-1.62c.223.034.43.05.62.05.29 0 .578-.036.862-.11a3.228 3.228 0 0 1-1.883-1.133 3.168 3.168 0 0 1-.747-2.087v-.04c.46.257.954.396 1.482.416A3.274 3.274 0 0 1 1.065 4.32 3.198 3.198 0 0 1 .67 2.755c0-.595.149-1.147.447-1.655a9.296 9.296 0 0 0 2.99 2.422 9.138 9.138 0 0 0 3.77 1.01 3.642 3.642 0 0 1-.08-.75c0-.908.32-1.681.96-2.321.639-.64 1.412-.96 2.319-.96a3.16 3.16 0 0 1 2.395 1.036 6.432 6.432 0 0 0 2.082-.793 3.185 3.185 0 0 1-1.442 1.808 6.536 6.536 0 0 0 1.888-.508l.001.001z"/></g></svg>');
  width: 16px;
  height: 1.5em;
}

@include media-breakpoint-down(xs) {
  .pigci-section-hero {

    .pigci-illustration-bacon {
      bottom: 4rem;
    }
    .pigci-illustration-tail {
      height: 113px;
      top: 20px;
    }
  }
  .pigci-section-footer-cta {

    .pigci-illustration-bacon {
      bottom: 4rem;
    }
  }
}
@include media-breakpoint-down(md) {
  .pigci-section-hero {
    .pigci-illustration-bacon {
      display: none;
    }
  }
}
