<div class="border-dashed p-4">
  <section class="text-center mb-4">
    <h2>Setup PigCI</h2>
    <p>We've not received any reports yet, so we are unable to show you lovely graphs and statistics.<br />
      Please add our gem to your project, and run your test suite.</p>
  </section>

  <%= render 'projects/setup/setup_instructions' %>

  <section>
    <p>Once you've ran your test suite, you should start seeing reported metrics, which can be used to review PRs.</p>
  </section>
</div>
